<form action="/charge" method="post">
  <article>
    <label class="amount">
      <span class="currencyinput">$<input type="text" name="amount"></span>
    </label>
  </article>

  <script
    src="https://checkout.stripe.com/v3/checkout.js" class="stripe-button"
    data-key="<%= PUBLIC_KEY %>"
    data-name="Interplay"
    data-description="Daycare payment">
  </script>
</form>