<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/interplay.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<div class="container">
  <div class="center-block">
    <a href="http://www.interplaychildcare.org"><img src="/images/interplay_logo.jpg" class="img-responsive" alt="Interplay Childcare center"></a>
  </div>
  <%= yield %>
</div>
</body>
</html>